<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="xxxgfgcfg">
<parameter name="rangeName" value="23"></parameter>
<parameter name="rangeNum" value="18"></parameter>>
<parameter name="sName" value="Tonu"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.LogicalQuestion"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
