<web-app>

<!-- <servlet> -->
<!-- <servlet-name>G1</servlet-name> -->
<!-- <servlet-class>com.app.Ram</servlet-class> -->
<!-- </servlet> -->

<servlet>
<servlet-name>G2</servlet-name>
<servlet-class>com.nt.servlet.Shaadi</servlet-class>
</servlet>

<!-- <servlet-mapping> -->
<!-- <servlet-name>G1</servlet-name> -->
<!-- <url-pattern>/date</url-pattern> -->
<!-- </servlet-mapping> -->

<servlet-mapping>
<servlet-name>G2</servlet-name>
<url-pattern>/mrg1</url-pattern>
</servlet-mapping>

</web-app>

